@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Finlandica Headline', ui-sans-serif, system-ui, sans-serif;
    --font-heading: 'Playfair Display', serif;
}

body {
    font-family: 'Finlandica Headline', ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}
